<div class="calaverita-footer container-fluid">
  <div class="col-md-12 text-center ">
    <%= link_to 'Lorem', '#' %> <span class="calaverita-footer-separator">|</span>
    <%= link_to 'Ipsum', '#' %> <span class="calaverita-footer-separator">|</span>
    <%= link_to 'Lalalala', '#' %> <span class="calaverita-footer-separator">|</span>
    <%= link_to 'Trololol', '#' %>
  </div>
  <div class="col-md-12 text-center">
    © Rafael R A
  </div>
</div>