<div class="image-editor-content container-fluid" ng-app="calaverita" ng-controller="ElementsCtrl as editor" ng-init="initCanvas()">
  <!--Calaverita container-->
  <div class="image-editor-container clearfix">
    <!--Canvas container-->
    <div class="image-editor-canvas-container image-editor-section">
      <canvas id="image-editor-canvas" width="350" height="400"></canvas>
    </div>

    <!--Layer buttons-->
    <div class="image-editor-layers-container image-editor-section">
      <ul class="text-center image-editor-element-list-container">
        <!--Background button-->
        <li class="image-editor-element-btn-container">
          <div class="image-editor-element-btn" ng-class="{ selected: selectedElement == 0 }" ng-click="selectElement(0)">
            <%= image_tag 'resources/background_sample.jpg', class: 'img-rounded' %>
            <div class="image-editor-element-triangle"></div>
          </div>
        </li>
        <!--Hair button-->
        <li class="image-editor-element-btn-container">
          <div class="image-editor-element-btn" ng-class="{ selected: selectedElement == 1 }" ng-click="selectElement(1)">
            <%= image_tag 'resources/haircut_sample.png', class: 'img-rounded' %>
            <div class="image-editor-element-triangle"></div>
          </div>
        </li>
        <!--Ornaments button-->
        <li class="image-editor-element-btn-container">
          <div class="image-editor-element-btn" ng-class="{ selected: selectedElement == 2 }" ng-click="selectElement(2)">
            <%= image_tag 'resources/ornament_sample.png', class: 'img-rounded' %>
            <div class="image-editor-element-triangle"></div>
          </div>
        </li>
      </ul>
    </div>

    <!--Objects container-->
    <div class="image-editor-objects-container image-editor-section">
      <ul class="image-editor-options-container text-center" ng-class="{ hidden: selectedElement != 0 }">
        <li class="image-editor-element-btn" ng-repeat="background in elements.backgrounds" ng-class="{ selected: myCalaverita.background.backgroundID == background.id, focused: focusedElement == 1000 }">
          <img ng-src="{{ 'assets/resources/mini/backgrounds/' + background.src }}" class="img-rounded" ng-click="selectBackground(background.id)">
        </li>
      </ul>

      <ul class="image-editor-options-container text-center" ng-class="{ hidden: selectedElement != 1 }">
        <li class="image-editor-element-btn" ng-repeat="haircut in elements.haircuts" ng-class="{ selected: myCalaverita.haircut.hairID == haircut.id, focused: focusedElement == 999 }">
          <img ng-src="{{ 'assets/resources/mini/haircuts/' + haircut.src }}" class="img-rounded" ng-click="selectHaircut(haircut.id)">
        </li>
      </ul>

      <ul class="image-editor-options-container text-center" ng-class="{ hidden: selectedElement != 2 }">
        <li class="image-editor-element-btn" ng-repeat="ornament in elements.ornaments" ng-class="{ selected: selectedOrnament(ornament.id), focused: focusedElement == ornament.id }">
          <div class="image-editor-element-btn-remove" ng-click="removeOrnament(ornament.id)">X</div>
          <img ng-src="{{ 'assets/resources/mini/ornaments/' + ornament.src }}" class="img-rounded" ng-click="selectOrnament(ornament.id)">
        </li>
      </ul>
    </div>

    <!--Color button container-->
    <div class="image-editor-color-btn-container image-editor-section">
      <div ng-repeat="color in elements.colors" class="clearfix image-editor-color-btn-row">
        <div class="image-editor-color-btn" style="background-color: rgb({{color.light.r}}, {{color.light.g}} , {{color.light.b}})" ng-click="selectColor(color.light)"></div>
        <div class="image-editor-color-btn" style="background-color: rgb({{color.normal.r}}, {{color.normal.g}} , {{color.normal.b}})" ng-click="selectColor(color.normal)"></div>
        <div class="image-editor-color-btn" style="background-color: rgb({{color.dark.r}}, {{color.dark.g}} , {{color.dark.b}})" ng-click="selectColor(color.dark)"></div>
      </div>
    </div>
  </div>

  <!--Share buttons container-->
  <div class="row">
    <!--Facebook share-->
    <div class="col-md-6">
      <a class="btn btn-primary btn-block" href="#">Post on facebook</a>
    </div>

    <!--URL share-->
    <div class="col-md-6">
      <a class="btn btn-default btn-block" ng-click="saveCanvas()">Save image</a>
      <a href="#" class="hidden image-editor-save-canvas" download="my-calaverita.png">Save image</a>
    </div>
  </div>
</div>