<div class="container-fluid" ng-app="calaverita">
  <!--Calaverita container-->
  <div class="row image-editor-container" ng-controller="ElementsCtrl as editor" ng-init="initCanvas()">
    <!--Hide on edit-->
    <div class="col-md-3 image-editor-offset" ng-class="{ hidden: editable }"></div>

    <!--Canvas container-->
    <div class="col-md-5 image-editor-canvas-container text-right">
      <canvas id="image-editor-canvas" width="350" height="400"></canvas>
    </div>

    <!--Edit button container-->
    <div class="col-md-1 image-editor-edit-btn-container text-center">
      <button class="btn btn-default" ng-click="toggleEdit()">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>

    <!--Hide on edit-->
    <div class="col-md-3 image-editor-offset" ng-class="{ hidden: editable }"></div>

    <!--Editor container-->
    <div class="col-md-6 image-editor-editor-container" ng-class="{ hidden: !editable }">
      <div class="row">

        <!--Elements buttons-->
        <div class="col-md-2">
          <ul class="list-unstyled list-inline text-center image-editor-element-list-container">
            <!--Background button-->
            <li class="image-editor-element-btn-container">
              <div class="image-editor-element-btn" ng-class="{ selected: selectedElement == 0 }" ng-click="selectElement(0)">
                <%= image_tag "resources/background_sample.jpg", class:"img-rounded img-responsive" %>
              </div>
            </li>
            <!--Hair button-->
            <li class="image-editor-element-btn-container">
              <div class="image-editor-element-btn" ng-class="{ selected: selectedElement == 1 }" ng-click="selectElement(1)">
                <%= image_tag "resources/haircut_sample.jpg", class:"img-rounded img-responsive" %>
              </div>
            </li>
            <!--Ornaments button-->
            <li>
              <div class="image-editor-element-btn" ng-class="{ selected: selectedElement == 2 }" ng-click="selectElement(2)">
                <%= image_tag "resources/ornament_sample.jpg", class:"img-rounded img-responsive" %>
              </div>
            </li>
          </ul>
        </div>

        <!--Options container-->
        <div class="col-md-8">
          <ul class="list-unstyled list-inline image-editor-options-container text-center" ng-class="{ hidden: selectedElement != 0 }">
            <li class="image-editor-element-btn" ng-repeat="background in elements.backgrounds" ng-class="{ selected: myCalaverita.background.backgroundID == background.id }">
              <img ng-src="{{ 'assets/resources/mini/backgrounds/' + background.src }}" class="img-rounded img-responsive" ng-click="selectBackground(background.id)">
            </li>
          </ul>

          <ul class="list-unstyled list-inline image-editor-options-container text-center" ng-class="{ hidden: selectedElement != 1 }">
            <li class="image-editor-element-btn" ng-repeat="haircut in elements.haircuts" ng-class="{ selected: myCalaverita.haircut.hairID == haircut.id }">
              <img ng-src="{{ 'assets/resources/mini/haircuts/' + haircut.src }}" class="img-rounded img-responsive" ng-click="selectHaircut(haircut.id)">
            </li>
          </ul>

          <ul class="list-unstyled list-inline image-editor-options-container text-center" ng-class="{ hidden: selectedElement != 2 }">
            <li class="image-editor-element-btn" ng-repeat="ornament in elements.ornaments" ng-class="{ selected: selectedOrnament(ornament.id) }">
              <img ng-src="{{ 'assets/resources/mini/ornaments/' + ornament.src }}" class="img-rounded img-responsive" ng-click="selectOrnament(ornament.id)">
            </li>
          </ul>
        </div>

        <!--Color buttons-->
        <div class="col-md-2">
          <ul class="list-unstyled list-inline text-right image-editor-color-buttons" ng-class="{ hidden: !showColor }">
            <li class="image-editor-color-btn-container" ng-repeat="color in elements.colors">
              <button class="btn btn-default btn-sm" ng-click="selectElementColor(color.id)">
                <div class="image-editor-color-btn {{color.name}}"></div>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--Share buttons container-->
  <div class="row">
    <!--Facebook share-->
    <div class="col-md-6">
      <a class="btn btn-primary btn-block" href="#">Post on facebook</a>
    </div>

    <!--URL share-->
    <div class="col-md-6">
      <a class="btn btn-default btn-block" href="#">Save image</a>
    </div>
  </div>
</div>