// Colors
$black: rgb(0, 0, 0);
$black-1: rgb(30, 30, 30);
$black-2: rgb(60, 60, 60);

$gray-dark: rgb(98, 98, 98);
$gray: rgb(128, 128, 128);
$gray-light: rgb(158, 158, 158);

$white-2: rgb(195, 195, 195);
$white-1: rgb(225, 225, 225);
$white: rgb(255, 255, 255);

$brown-0: #624D30;	/* Main Primary color */
$brown-1: #E0CFB7;
$brown-2: #AD9676;
$brown-3: #3C270B;
$brown-4: #1D1000;

$green-0: #264D29;	/* Main Secondary color (1) */
$green-1: #90B192;
$green-2: #5D8860;
$green-3: #09300B;
$green-4: #001701;

$purple-0: #623230;	/* Main Secondary color (2) */
$purple-1: #E0B8B7;
$purple-2: #AD7876;
$purple-3: #3C0C0B;
$purple-4: #1D0100;

$blue-0: #21323F;	/* Main Complement color */
$blue-1: #778690;
$blue-2: #4E6170;
$blue-3: #091A27;
$blue-4: #010B13;