@import "globals";

.calaverita-footer {
  background: $brown-0 asset_url('layouts/ground.png') repeat;
  border-top: 5px solid $brown-3;
  color: $green-1;
  padding-bottom: 10px;
  padding-top: 10px;

  a { color: $green-1; }
}

.calaverita-footer-separator {
  margin-left: 10px;
  margin-right: 10px;
}