.calaverita-header {
  background-color: #7a43b6;
  height: 100px;
}

.calaverita-header-logo {
  float: left;
  height: 80px;
  width: 70px;
  margin: 10px 30px;
}

.calaverita-header-text {
  float: left;
  margin: 10px 30px;
  line-height: 80px;
  height: 80px;
  font-size: 36px;
  color: #ffffff;
}