.image-editor-container { }

.image-editor-canvas-container {
  min-width: 350px;
  min-height: 400px;
}

.image-editor-edit-btn-container {
  min-width: 70px;
}

.image-editor-element-btn-container { margin-bottom: 5px; }

.image-editor-element-btn {
  cursor: pointer;
  opacity: 0.5;

  &:hover { opacity: 0.7; }
  &.selected { opacity: 1; }
}

@media all and (min-width: 992px){
  .image-editor-element-list-container {
    margin: 0 auto;
    max-width: 100px;
  }

  .image-editor-options-container {
    margin-bottom: 0px;
    max-height: 400px;
    overflow-y: auto;
  }

  .image-editor-color-buttons {
    margin: 0 auto;
    max-width: 42px;
  }
}

@media all and (max-width: 991px){
  .image-editor-canvas-container {
    margin: 0 auto;
    max-width: 380px;
  }

  .image-editor-color-buttons {
    margin: 0 auto;
    max-width: 336px;
  }
}