@import "globals";

.calaverita-content { margin: 10px auto; }

.image-editor-content {
  max-width: 960px;
  * {
    box-sizing: initial;
  }
}

.image-editor-container {
  background-color: $black-2;
  margin-bottom: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.image-editor-section {
  float: left;
  height: 400px;
  border: 5px solid $black;
  border-right: none;
}

.image-editor-canvas-container { width: 350px; }

.image-editor-layers-container { width: 140px; }

.image-editor-objects-container { *width: 280px; }

.image-editor-color-btn-container {
  border-right: 5px solid $black;
  width: 70px;
}

.image-editor-color-selected {
  border: 1px solid black;
  height: 20px;
  width: 14px;
}

.image-editor-element-btn-container { margin-bottom: 5px; }

.image-editor-element-btn-remove {
  display: none;
}

.image-editor-element-btn {
  cursor: pointer;
  opacity: 0.5;
  position: relative;

  img { border: 3px solid white; }

  &:hover { opacity: 0.7; }
  &.selected {
    opacity: 1;

    &.focused img { border: 3px solid black; }

    .image-editor-element-btn-remove {
      background-color: red;
      border: 2px solid white;
      border-radius: 50%;
      color: white;
      display: block;
      font-weight: bold;
      height: 30px;
      line-height: 26px;
      position: absolute;
      right: 9px;
      top: 4px;
      text-align: center;
      width: 30px;
    }
  }
}

@media all and (min-width: 992px){
  .image-editor-element-list-container {
    margin: 0 auto;
    max-width: 100px;
  }

  .image-editor-options-container {
    margin-bottom: 0px;
    max-height: 400px;
    overflow-y: auto;
  }
}

@media all and (max-width: 991px){
  .image-editor-canvas-container {
    margin: 0 auto;
    max-width: 380px;
  }
}